<div>
  <h1 class="header">Angular Demo</h1>
  <p>Name: {{ user.name }} and birthday is on {{ user.dob }}</p>
  <br /><br />

  <!--   <app-emp-display></app-emp-display>

  <br /><br />

  <app-user-input></app-user-input>
  <br><br><br>
  <app-parent></app-parent> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <app-user-register></app-user-register>
      </div>
      <div class="col-sm-6">
        <app-profile-display></app-profile-display>
      </div>
    </div>
  </div>
</div>
