<div>
    <h1 class="header">Angular Demo</h1>
  <p>Name: {{ user.name }} and birthday is on {{ user.dob }}</p>
  <br /><br />

  <div class="container">
    <div class = "row">
      <div class = "col-5">
        <a routerLink = "register" class = "btn btn-primary">Register</a> <br /> <br />
        <a routerLink = "login" class = "btn btn-primary">Login</a> <br /> <br />
        <a routerLink = "profileDisplay" class = "btn btn-primary">Profile Display</a> <br /> <br />
        <a routerLink = "parentChild" class = "btn btn-primary">Parent and Child</a> <br /> <br />
      </div>
      <div class = "col-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  



  <!--   <app-emp-display></app-emp-display>

  <br /><br />

  <app-user-input></app-user-input>
  <br><br><br>
  <app-parent></app-parent> -->

  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <app-user-register></app-user-register>
      </div>
      <div class="col-sm-6">
        <app-profile-display></app-profile-display>
      </div>
    </div>
  </div>
 -->


</div>
